@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* content css */

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: #222433;
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(31, 23, 37);
    font-size: 24px;
    font-weight: bold;
}
.top-image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
}

.top-image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.top-image {
    width: 1200px;
    max-width: 1500px;
    max-height: 80%;
    object-fit: cover;
    object-position: right top;
    margin: auto; /* Tengahkan horizontal dan vertikal */
    display: block; /* Agar margin: auto; bekerja */
    border-radius: 15px; /* Sesuaikan dengan jumlah border radius yang diinginkan */
}


.slider-container {
    overflow: hidden;
    width: 80%; /* Sesuaikan dengan kebutuhan Anda */
    margin: 40px auto; /* Center the container */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
}

/* produk css */
.product {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    max-width: 300px; /* Sesuaikan dengan kebutuhan Anda */
    border: 1px solid #fff; /* Original border style */
    box-sizing: border-box; /* Include border in the total width and height */
}

.product img.product-image {
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid #fff; /* Tambahkan border dengan warna putih atau sesuai kebutuhan Anda */
    box-sizing: border-box; /* Menjamin bahwa border termasuk dalam lebar dan tinggi elemen */
}

.product-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
}

.product:hover .product-label {
    opacity: 1;
    transform: translateY(-100%);
}


/* Reset gaya default untuk elemen list */
.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Gaya untuk setiap item dalam list */
.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gaya untuk gambar */
.product-item img {
    max-width: 100px; /* Sesuaikan ukuran maksimum gambar */
    margin-left: 10px; /* Berikan margin kiri pada gambar */
}

/* Gaya untuk detail produk (text) */
.product-details {
    flex: 1; /* Agar detail produk mengambil ruang yang tersisa */
    margin-right: 10px; /* Berikan margin kanan pada detail produk */
}




.juduljualan{
        font-weight: bold;
        text-align: center;
        background: linear-gradient(to bottom, #111a25, #382f43); /* Green to dark green gradient */
        color: #fff; /* White text color */
        padding: 10px;
        margin: 10px 0;
}
/* .pembayaranproduk{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
} */
/* footer css */

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #111a25, #382f43);
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    margin-top: 20px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: rgb(31, 23, 37);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* tutup footer css */




/* sidebar css */
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #111a25, #382f43);
}
/* pre css */
.flex{
    display: flex;
    align-items: center;

}
.nav_images img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.nav_images{
    display: flex;
    min-width: 55px;
    justify-content: center;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: linear-gradient(to bottom, #111a25, #382f43);
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 1;
}
.sidebar.close{
    width: calc(55px + 20px);
}

.logo_items{
    gap: 8px;
}
.logo_name{
    font-size: 20px;
    color: white;
    font-weight: 500px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.sidebar.close .logo_name, 
.sidebar.close #lock-icon,
#sidebar-close{
    opacity: 0;
}
#lock-icon,
#sidebar-close{
opacity: 1;
padding: 10px;
color: #56fca2;
cursor: pointer;
}
#sidebar-close{
    display: none;
    color: #333;
}
.menu_container{
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar{
    display: none;
}
.title{
    color: #56fca2;
}
.menu_title{
    position: relative;
    height: 50px;
    width: 55px;
}
.menu_title .title{
    margin-left: 15px;
    transition: all 0.3s ease;
}
.sidebar.close .title{
    opacity: 0;
}
.menu_title .line{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #56fca2;
}
.menu_title .line{
    opacity: 0;
}
.sidebar.close .line{
    opacity: 1;
}
.item{
    list-style: none;
    border-top: 1px solid rgba(55, 55, 55, 0.45);
}
.link{
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
}
.link:hover{
    background-color: #363636;
    width: 100%;
    color: white;
}
.link span{
    white-space: nowrap;
}
.link i{
    height: 50px;
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile{
    /* background-color: #333; */
    margin-top: 20px;
    gap: 15px;
    padding-top: 20px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name{
    font-size: 15px;
    color: white;
}
.sidebar_profile .gmail{
    font-size: 13px;
    color: white;
}

/* Navbar */
.navbar {
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
    background: #222433;
    justify-content: space-between;
    z-index: 2;
}
#sidebar-open{
    font-size: 25px;
    color: rgb(225, 211, 255);
    cursor: pointer;
    margin-right: 20px;
    display: none;
}
.search_box{
    height: 46px;
    max-width: 500px;
    width: 100%;
    border: 1px solid rgb(234, 224, 255);
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 18px;
    color: #363636;
    background: rgb(234, 224, 255);
}
.navbar img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.login-navbar {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  /* .login-text {
    margin-right: 10px;
    color: white; 
  }
  .login-text:hover {
    color: #333;
    font-weight: bold;
  } */

/* Tambahkan gaya ini ke CSS yang sudah ada */
.search-results {
    position: absolute;
    top: 55px; /* Sesuaikan nilai ini berdasarkan tata letak Anda */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
}

.search-results div {
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #f5f5f5;
}


/* Responsive */
@media screen and (max-width: 1920px){
    .sidebar{
        left: 0;
        z-index: 1000;
    }
    .sidebar.close{
        left: -100%;
    }
    #sidebar-close{
        display: block;
    }
    #lock-icon{
        display: none;
    }
    .navbar{
        top: 0;
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }
    #sidebar-open{
        display: block;
    }
    .product {
        border: 1px solid #fff; /* Adjusted border style for screens below 1920px */
    }
}
@media screen and (max-width: 1100px){
    .banner-container {
        height: auto;
    }

    .banner-text {
        font-size: 18px;
    }

    .top-image-container {
        margin-top: 100px;
    }
    .top-image {
        max-width: 1000px;
        max-height: 97%; /* Jadikan gambar responsif */
        width: 750px; /* Otomatis atur lebar */
        margin: 0; /* Hapus margin untuk layar 1100px ke bawah */
    }
    .product {
        max-width: 100%;
        border: 1px solid #fff;
    }
    .slider{
        display: block;
    }
    footer {
        padding-top: 20px;
    }
    .navbar{
        transform: translateX(-65%);
        left: 65%;
    }
    .product-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        font-size: 19px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px){

    .banner-container {
        height: 200px; /* Sesuaikan tinggi untuk layar 800px ke bawah */
        }
    .banner-text {
        font-size: 18px; /* Sesuaikan ukuran font untuk layar yang lebih kecil */
    }
    
    .top-image-container {
        margin-top: 20px; /* Sesuaikan margin untuk layar 800px ke bawah */
    }
    
    .top-image {
        max-width: 800px;
        max-height: 97%; /* Jadikan gambar responsif */
        width: 600px; /* Otomatis atur lebar */
        margin: 0; /* Hapus margin untuk layar 1100px ke bawah */
    }
    .product {
        max-width: 100%;
        border: 1px solid #fff;
    }
    .product-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transform: translateY(0);
    }
    .sidebar{
        left: 0;
        z-index: 1000;
    }
    .sidebar.close{
        left: -100%;
    }
    #sidebar-close{
        display: block;
    }
    #lock-icon{
        display: none;
    }
    .navbar{
        top: 0;
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }
    #sidebar-open{
        display: block;
    }
    .slider{
        display: block;
    }
    .product img.product-image{
        margin: 0 ;
    }
    /* .login-text{
        font-size: 10px;
        margin-right: 0;
    } */
    .footer-content {
        padding: 20px; /* Sesuaikan padding untuk layar smartphone */
    }

    .footer-content h3 {
        font-size: 1.5rem; /* Sesuaikan ukuran font judul untuk layar smartphone */
        line-height: 2.5rem;
    }

    .footer-content p {
        max-width: 100%; /* Gunakan lebar maksimum untuk layar smartphone */
        margin: 10px auto;
        line-height: 24px; /* Sesuaikan line-height untuk layar smartphone */
        font-size: 14px; /* Sesuaikan ukuran font teks untuk layar smartphone */
    }

    .socials {
        margin: 1rem 0 1.5rem 0; /* Sesuaikan margin untuk layar smartphone */
    }

    .socials li {
        margin: 0 8px; /* Sesuaikan margin untuk layar smartphone */
    }

    .footer-bottom {
        padding: 15px 0; /* Sesuaikan padding untuk layar smartphone */
    }

    .footer-bottom p {
        font-size: 12px; /* Sesuaikan ukuran font untuk layar smartphone */
    }

    .footer-bottom span {
        font-size: 10px; /* Sesuaikan ukuran font untuk layar smartphone */
    }
    
}

/* Responsive untuk layar Tablet (600px) */
@media screen and (max-width: 600px) {
    .banner-container {
        height: 200px; /* Sesuaikan tinggi banner untuk layar tablet */
    }

    .banner-text {
        font-size: 18px; /* Sesuaikan ukuran font untuk layar tablet */
    }

    .top-image-container {
        margin-top: 20px; /* Sesuaikan margin untuk layar tablet */
    }

    .top-image {
        max-width: 650px;
        max-height: 97%; /* Jadikan gambar responsif */
        width: 450px; /* Otomatis atur lebar */
        margin: 0; /* Hapus margin untuk layar 1100px ke bawah */
    }

    .product {
        max-width: 100%;
        border: 1px solid #fff;
    }
    
    .product-label {
        font-size: 12px; /* Sesuaikan ukuran font label produk untuk layar tablet */
    }
}

@media screen and (max-width: 400px) {
    .banner-container {
        height: 200px; /* Sesuaikan tinggi banner untuk layar tablet */
    }

    .banner-text {
        font-size: 18px; /* Sesuaikan ukuran font untuk layar tablet */
    }

    .top-image-container {
        margin-top: 20px; /* Sesuaikan margin untuk layar tablet */
    }

    .top-image {
        max-width: 450px;
        max-height: 97%; /* Jadikan gambar responsif */
        width: 350px; /* Otomatis atur lebar */
        margin: 0; /* Hapus margin untuk layar 1100px ke bawah */
    }

    .product {
        max-width: 100%;
        border: 1px solid #fff;
    }
    
    .product-label {
        font-size: 12px; /* Sesuaikan ukuran font label produk untuk layar tablet */
    }
}


